[Unit]
Description=youtube-dl automatic downloader

[Service]
ExecStart=/path/to/youtube-hoarder/youtube-hoarder /path/to/youtube-hoarder/config

[Install]
WantedBy=default.target
