[Unit]
Description=youtube-dl automatic downloader

[Service]
ExecStart=/home/owen/youtube-hoarder/youtube-hoarder /home/owen/youtube-hoarder/config

[Install]
WantedBy=default.target
